/* For all */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif, 'Merriweather', serif;
}

.secondary-styl {
    font-family: Merriweather;
}

button:hover {
    background: #070211
}

/* Header Part */

.container {
    max-width: 1320px;
    /* margin-top: 50px; */
    margin: 0 auto;
    text-align: center;
}

.banner-img {
    margin-top: 50px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Banner_Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 600px;
}

.header-txt {
    color: #FFF;
    font-size: 32px;
    padding-top: 150px;
    padding-bottom: 16px;
    text-align: center;
}

.header-title {
    color: #FFF;
    font-size: 50px;
    padding-top: 0px;
    padding-bottom: 177px;
    text-align: center;
}

/* Main Part */

.off-section {
    display: block;
    justify-content: space-between;
    text-align: center;
    margin: 0px auto;
}

.off-section-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 48px;
}

.off-section-content {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;

}

.off-section-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* midnight-party */
.midnight-party {
    margin-top: 120px;
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Vectorrr.png'), url('../image/Group_70.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 100%;
    height: 600px;
    text-align: left;
}

.img-2024 {
    padding-top: 75px;
    padding-left: 40px;
}

.midnight-party-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 8px;
    max-width: 700px;
    padding-top: 126px;
    padding-left: 126px;
    padding-bottom: 24px;

}

.midnight-party-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 700px;
    padding-left: 126px;
}

.midnight-party h3 {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding-top: 48px;
    padding-left: 126px;
}

/* address */
.address {
    margin-top: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color: #070211;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 48px;

}

.clr {
    color: #F00;
}

.number {
    font-family: Inter;
}

button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: white;
    border: none;
}

/* new-offer */

.new-offer {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 120px;
    text-align: left;
    /* background-color: aqua; */
}

.new-offer-section1-gap {
    padding-top: 50px;
}

.new-offer-section1 h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 22px;
}

.new-offer-section1 p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    max-width: 393px;
}

.new-offer-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #F00;
    padding: 20px;
}

.new-offer-img img {
    width: 100%;
    height: 100%;
}


.new-year {
    padding-top: 43px;
}

/* holiday-sale */

.holiday-sale h4 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
    margin-top: 120px;
}

.holiday-sale h2 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 28px;
}

.primary-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    max-width: 1068px;
    margin-left: 100px;
    padding-bottom: 68px;
}


/* .holiday-img-container {
    background-color: aqua;
} */


.holiday-img-1 {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 451px;

}

.holiday-img-1-1 {
    position: relative;
    top: 50px;
    left: 280px;
}

/* .holiday-img-2 {
    background-image: url('../image/Rectangle_2.png');
     
    background-repeat: no-repeat;
} */
.holiday-img {
    position: relative;
    text-align: left;
}

.holiday-img-2-1 {
    border-radius: 16px 0px;
    left: 0;
    z-index: -1;
}

.holiday-img-2-2 {
    position: absolute;
    bottom: 20px;
    max-width: 796px;
    /* width: 600px; */
    height: 650px;
    padding-left: 5px;
}

/* .holiday-img-2-2 {
    
} */

/* portfolio section*/
.portfolio {
    margin-top: 120px;
    text-align: left;
}

.portfolio-section * {
    padding: 16px 0;
}

.portfolio-section h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.portfolio-section p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    max-width: 900px;
}

.portfolio-img-division {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 24px 0px;
}

/* Subscribe Newsletter */
.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    text-align: center;
}

.subscribe-img {
    padding-top: 80px;
    padding-bottom: 40px;
}

.subscrib-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}

.subscrib-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    max-width: 900px;
    margin: 0px auto;
    padding-bottom: 68px;
}

form {
    margin: 0px auto;
    max-width: 800px;
    display: flex;
    padding-bottom: 80px;
}

.form-input {
    border-radius: 50px 0px 0px 50px;
    width: 550px;
    border: none;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    padding: 22px;
}


.second-btn {
    border-radius: 0px 50px 50px 0px;
    border: none;
}

/* footer */
footer {
    margin-top: 120px;
    background: #070211;
    max-width: 1440;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
    font-style: normal;

}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 50px;
}


.footer-info-description {
    max-width: 400px;
    text-align: left;

}

.footer-content {
    display: flex;
    gap: 20px;
    padding-right: 150px;

}

hr {
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);

}

.social-medial {
    display: flex;
    padding: 48px;
    gap: 20px;
    padding-top: 48px;
    align-items: center;
    justify-content: center;
}

.end {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 120px;
}